<div class="cart-item-card">
    <div class="cart-item-card-info">
      <span class="item-product-name">{{ item.product.name }} (R${{ item.product.price.toFixed(2) }})</span>
      <span class="item-total-price">R${{ (item.product.price * item.quantity).toFixed(2) }}</span>
    </div>
    <div class="cart-item-card-quantity mt-4">

        <input type="number" class="item-quantity form-control" value="{{item.quantity}}">
      <button class="btn btn-info btn-sm mr-2">Salvar</button>
      <button class="btn btn-danger btn-sm">Remover</button>
    </div>
</div>
