.container{
    min-height: 100vh;

    .row{
        margin: 100px 0;
        text-align: center;
    }

    h2{
        font-weight: bold;
    }

    p{
        font-size: 30px;
    }

    span{
        color: gray;
    }

    .button{
        margin: 20px 0;
    }
}