.bg-color{
    background-color: rgb(15, 52, 82);
}

.nav-right{
    li{
        padding-right: 10px;
    }
    
    span{
        color: white;
        a{
            padding-left: 10px;
            color: rgba(255,255,255,0.5);
            
            :hover{
                color: rgba(255,255,255,0.8);
                cursor: pointer;
            }
        }
    }

}
