<div class="container">
    <div class="row justify-content-md-center center-form">
        <div class="col-md-4">
            <h2 style="text-align: center;">Crie sua conta</h2>
            <form class="needs-validation">
                <div class="form-group">
                    <label for="first_name">Nome <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="first_name" placeholder="Digite seu nome" required>
                    <div class="invalid-feedback">Campo obrigatório</div>
                </div>
                <div class="form-group">
                    <label for="last_name">Sobrenome <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="last_name" placeholder="Digite seu sobrenome" required>
                    <div class="invalid-feedback">Campo obrigatório</div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail <span style="color: red;">*</span></label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
                    <div class="invalid-feedback">Campo obrigatório</div>
                </div>
                <div class="form-group">
                    <label for="username">Usuário <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="username" placeholder="Digite seu usuário para login"
                        required>
                    <div class="invalid-feedback">Campo obrigatório</div>
                </div>
                <div class="form-group">
                    <label for="password">Senha <span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Digite sua senha" required>
                    <div class="invalid-feedback">Campo obrigatório</div>
                </div>
                <div class="form-group">
                    <small id="nameHelp" class="form-text text-muted">(<span style="color: red;">*</span>) Campo
                        obrigatório</small>
                </div>
                <button type="submit" (click)="validate($event)" class="btn btn-primary">Criar conta</button>{{' '}}
                <a class="btn btn-secondary" routerLink="/home">Cancelar</a>
            </form>
        </div>
    </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Usuário criado com sucesso</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>O usuário foi criado com sucesso! Faça login para continuar</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="homeRedirect()">Ir para home</button>
  </div>
</ng-template>